//mainWrap
.mainWrap {
    width: 100%;
    min-width: 1400px;
    height: 921px;
    padding: 20px 0 0;
    
    .center {
        width: 1400px;
        height: auto;
        margin: 0 auto;

        //跑馬燈
        .marqueeWrap {
            width: 60%;
            height: 50px;
            @include marquee;
        }

        //遊戲清單
        .typeList {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 24.3% 49.5% 24.4%;
            grid-template-rows: repeat(2, 395px);
            gap: 15px 13px;
            padding: 18px 0;

            .gameBlock {
                width: 100%;
                height: auto;
                overflow: hidden;
                position: relative;
                box-shadow: inset 0px 0px 1px 1px map-get($border , main_02);
                cursor: pointer;

                &.board {
                    height: 582px;
                    clip-path: polygon(0 0, 100% 32%, 100% 99%, 0 63%);
                    margin-top: 21px;
                }

                &.slot {
                    // height: 582px;
                    // clip-path: polygon(0 0, 100% 32%, 100% 99%, 0 63%);
                    
                    &>.text {
                        position: absolute !important;
                        left: 176px !important;
                    }
                }

                &.fish{
                    height: 582px;
                    // clip-path: polygon(0 0, 100% 32%, 100% 99%, 0 63%);
                    margin-top: 21px;

                    &>.text {
                        position: absolute !important;
                        right: 0 !important;
                    }
                }

                &>img {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    position: absolute;
                    top: 0;
                    z-index: 1;
                }

                &>.text {
                    width: fit-content;
                    height: auto;
                    background: map-get($main-color, primary);
                    position: relative;
                    z-index: 2;

                    p {
                        background: map-get($linear, primary);
                        background-clip: text;
                        color: transparent;
                        font-size: 22px;
                        font-weight: bold;
                        text-align: end;
                        writing-mode: vertical-rl;
                        padding: 30px 5px 20px;
                    }
                }
            }

            &>.center_group {
                grid-column-start: 2;
                width: 100%;
                height: 591px;
                display: flex;
                align-items: end;
                justify-content: space-between;
                margin-top: -196px;
                
                &>.gameBlock {
                    width: 49%;
                    height: 100%;

                    &>.text {
                        position: absolute !important;
                        right: 0 !important;
                        
                    }

                    &.live {

                        &>.text {
                            left: 0 !important;
                        }
                    }

                    &>img {
                        object-fit: cover;
                    }
                }
            }
        }
    }
}