html {
    overflow-y: overlay;

    body {
        position: relative;

        @import "./_header.scss";
        @import "./_mainWrap.scss";
        // @import "./_innerPage.scss";
        // @import "./_gamePage.scss";
        // @import "./_event.scss";
        // @import "./_help.scss";
        @import "./_banner.scss";
        @import "./_footer.scss";
        // @import "./_aside.scss";
        @import "./_jumpWindow.scss";

        main {
            width: 100%;
            height: auto;
            padding-top: 120px;
        }

        //大背景
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -999;
        }
    }
}